<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改数据</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form action="/users/toUpdate/<%= datas[0].id %>" method="post">
    <label for="name">姓名：</label>
    <input type="text" id="name" name="name" value="<%= datas[0].name %>">
    <br>
    <label for="age">年龄：</label>
    <input type="number" id="age" name="age" value="<%= datas[0].age %>">
    <br>
    <br>
    <input type="submit" value="提交修改">
    <input type="reset" value="重置">
</form>
</body>
</html>